      .twinny-120689 .item {
        position: fixed;
        top: 65px!important;
        right: 0;
        z-index: 300;
        max-width: 350px;
        font-size: 95%;
        background: rgba(255,255,255,.95);
        padding: 15px 25px;
        border-radius: 6px;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
        color: #42b549;
        transition: .4s;
        opacity: 0;
        visibility: hidden;
      }
      .twinny-120689 .item:hover {
        background: #fff;
      }
      .twinny-120689 .item span.avaURL {
        background: #fafafa url(//lh3.googleusercontent.com/-QlJpOYV6yF4/XNEPty8zjJI/AAAAAAAAF6k/7RaA8suy7AsVhOYwcP6WLMf2qc54GUXWwCEwYBhgL/h60/ava.png) no-repeat center center;
        background-size: cover;
        display: block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        line-height: 1;
        float: left;
        margin-bottom: 10px;
      }
      .twinny-120689 .item.active {
        right: 10px;
        top: 65px;
        opacity: 1;
        visibility: visible;
      }
      .twinny-120689 .item.hidden {
        left: -40px!important;
        opacity: 0!important;
        visibility: hidden!important;
      }
      @media only screen and (max-width: 1068px) {
        .twinny-120689 .item.active {
          top: 15px;
          left: 15px;
          max-width: 290px;
        }
      .twinny{display:none;}
      }
      .twinny-120689 .item i {
        display: inline-block;
        vertical-align: middle;
        font-size: 200%;
        margin-right: 5px;
        color: #42b549;
      }
      .twinny-120689 .item h5 {
        display: inline-block;
        float: right;
        margin-top: -15px;
        margin-right: -25px;
        border-top: 0;
        border-right: 0;
        overflow: hidden;
        margin-left: 10px;
        margin-bottom: 10px;
      }
      .twinny-120689 .item h5 a {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 10px;
        border: .5px solid #eee;
        border-radius: 0 0 0 6px;
        border-top: 0;
        border-right: 0;
      }
      .twinny-120689 .item h5 a:active {
        background: #fafafa;
      }
      .twinny-120689 .item h5 a i {
        display: inline-block;
        vertical-align: middle;
        font-size: 150%;
        margin: 0 5px;
        color: #4E5665;
      }
      .twinny-120689 .item h5 a:hover i {
        color: #42b549;
      }
      .twinny-120689 .item .infoOrder b {
        font-weight: 600;
        color: #4E5665;
      }
      .twinny-120689 .item .infoOrder a {
        color: #42b549;
      }
      .twinny-120689 .item .infoOrder small {
        display: block;
        margin-top: 10px;
      }
      .twinny-120689 .item .infoOrder small a {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        border-left: .5px solid #eee;
        float: right;
        color: #888;
      }